*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.5),hsl(336, 100%, 29%)),
     url(pic1.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
   font-family: 'Kaushan Sript',cursive';
}
.banner-text p{
      font-size: 30px;
      font-style: italic;
 }
#sideNav{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px;
    z-index: 100;
    background-color:hsl(336, 35%, 57%)  ;
    border: 1px solid rgba(0, 0, 0,0.03);
    font-size:30px;
}
.menu{
    display: flex;
}
.menu li a{
    margin: 5px; 
    padding: 5px 20px;
    color:#2e2e2e;
    font-weight:500 ;
    opacity:0.4 ;
    transition:all ease 0.3s;
}
.menu .active{
    opacity: 1;
}
.menu li a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}
#Pork{
    align-items: center;
      background: linear-gradient(rgba(0,0,0,0.5),hsl(336, 100%, 29%))
}

/*Pork*/

#Pork{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color:chocolate;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 57px;
    height: 45px;
    background: linear-gradient(#019587,#fff);
    position:absolute;
    top: -20px;
    left: 0;
    z-index: -1;
   transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 30px;
}
 .title-text h1{
    font-size: 50px;
  }
    .features-box{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
  }
.features{
    flex-basis: 50%;
  }
   .features-img{
    flex-basis: 50%;
    margin: auto;
  }
  .features-img img{
    width: 70%;
    border-radius: 10px;
  }
    .features h1{
    text-align: left;
    margin-bottom:10px ;
    font-weight:100 ;
    color: white;
  }
  .features-desc{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .features-icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color:white;
    border: 1px solid #009688;
  }
  .feature-text p{
    padding: 0 20px;
    text-align: initial;
  }
  
   @media screen and (max-width:770px){
     .title-text{
      font-size: 50px;
     }
       .features-box{
      font-weight: 100;
      font-size: medium;
    }
     .features{
        flex-basis: 100%;
     }
     .features-img{
      flex-basis: 100%;
          }

          .features-img img{
            width: 100%;
          }
   }




   #Prices{
    width: 100%;
    padding: 70px 0;
    align-items: center;
      background: linear-gradient(rgba(0,0,0,0.5),hsl(336, 100%, 29%))
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color:black;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 57px;
    height: 50px;
    background: linear-gradient(#019587,#fff);
    position:absolute;
    top: -20px;
    left: 0;
    z-index: -1;
   transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 30px;
}
 .title-text h1{
    font-size: 50px;
  }

table{
    width: 500px;
    height: 500px;
    border-spacing: 20px;
}
th{
    text-align: left;
}
th, caption{
    text-align: left;
}
table, th ,td{
    border: 1px solid #000;
}
th ,td{
    padding: 5px;
}
tr:nth-child(even){
    background-color: purple;
}
tr:nth-child(odd){
    background-color:grey ;
}


 @media screen and (max-width:770px){
.title-text{
      font-size: 50px;
     }
     .table{
      width: 100%;
     }



 }
 #Contact{
   padding: 100px 0 20px;
   background: #efefef;
   position: relative;
 }
 footer-row{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left, .footer-right{
  flex-basis:45% ;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-right{
  text-align: right;
}
.footer-row h1{
  margin: 10px 0;
}
.footer-row p{
  line-height: 35px;
}
.footer-left  .fa , .footer-right .fa{
     font-size: 20px;
     color: #019587;
     margin: 20px;
}
.footer-img{
  max-width: 370px;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 35%;
  transform:translate(-50%,-50%)
}
@media screen and (max-width:770px){
  .footer-left,.footer-right{
    flex-basis: 100%;
    font-size: 14px;
  }
  .footer-img{
    top:25%; 
  }
}
.address{
  text-align: center;
  font: weight 20px;
  color: #2e2e2e;
}



.footer{
   text-align: center;
   font-weight: 20px;
}
.footer p a:hover{
color: #5c1e1e;
  transform: translate(-7px);
}
